adbc_driver_manager==1.9.0
adbc_driver_postgresql==1.9.0
adbc_driver_sqlite==1.9.0
AppKit==0.2.8
apsw==3.51.1.0
attr==0.3.2
boto3==1.42.2
botocore==1.42.2
brotli==1.2.0
brotlicffi==1.2.0.0
cchardet==2.1.7
chardet==5.2.0
checks==0.2
ConfigParser==7.2.0
cryptography==46.0.3
cycler==0.12.1
Cython==3.2.2
dask==2025.11.0
docutils==0.22.3
eventlet==0.40.4
fastparquet==2024.11.0
filelock==3.20.0
Flask==3.1.2
Foundation==0.1.0a0.dev1
fsspec==2025.12.0
gevent==25.9.1
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.148.6
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
lxml==5.3.0
mariadb==1.1.14
markdownify==1.2.2
MarkupSafe==3.0.3
matplotlib==3.10.7
mtrand==0.1
mypy==1.19.0
MySQL-python==1.2.5
mysql_connector_repackaged==0.3.1
numexpr==2.14.1
odfpy==1.4.1
openpyxl==3.1.5
orjson==3.11.4
psutil==7.0.0
psycopg==3.3.1
psycopg2==2.9.11
psycopg2cffi==2.9.0
py==1.11.0
PyInstaller==6.17.0
pymysql==1.1.2
pyodide==0.0.2
pyOpenSSL==25.3.0
PyQt4==4.11.4
PyQt5==5.15.11
pysqlcipher==2.6.10
pysqlcipher3==1.2.0
pysqlite==2.8.3
pysqlite3==0.5.4
pytest==9.0.1
python_calamine==0.6.1
python_socks==2.7.3
pywin32==311
pyxlsb==1.0.10
PyYAML==6.0.3
qtpy==2.4.3
readability_lxml==0.8.4.1
redis==7.1.0
s3fs==2025.12.0
scikit_learn==1.7.2
scipy==1.16.3
scipy_doctest==2.0.1
sets==0.3.2
setuptools==75.6.0
simplejson==3.20.2
speedups==1.4.0
Sphinx==9.0.4
SQLAlchemy==2.0.44
sqlcipher3==0.5.4
tables==3.10.2
thread==2.0.5
threadpoolctl==3.6.0
traitlets==5.14.3
urllib3_secure_extra==0.1.0
Werkzeug==3.1.4
xarray==2025.11.0
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
zstandard==0.25.0
